{
    "token": "",
    "prefix": "+",
    "clientSettings": {
    },
    "sql": {
        "host": "",
        "database": "",
        "user": "",
        "password": ""
    },
    "logGuilds": [
    ]
}